#page
{
	width:760px;
	margin-left:auto;
	margin-right:auto;
}

/* ------------------ BODYŽw’è ------------------ */
body
{
	margin:15px 0px 0px 0px;
	padding:0px;
	font-size:small;
	line-height:140% ;
	text-align:center;
	font-family: ƒƒCƒŠƒI,Meiryo,"ƒqƒ‰ƒMƒmŠpƒS Pro W3","Hiragino Kaku Gothic Pro",Osaka,Arial,Verdana,Helvetica,sans-serif;
}

/* ------------------ BODYŽw’è(IE7+Gecko) ------------------ */
html>body
{
	margin:15px 0px 0px 0px;
	padding:0px;
	font-size:0.8em;
	text-align:center;
	line-height:160%;
}
#head
{
	padding-top:10px;
}
#foot
{
	padding-top:10px;
}
#sidemenu
{
	position:absolute;
	float:left;
	padding-top:10px;
}

#sidemenu ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

#sidemenu li
{
	position:relative;
	/* float:left; */
	display:block;
	margin:0px;
	padding:0px 0px 0px 2px;
	background-image:none;
}

#main
{
	width:100%;
	margin-top:15px;
}

